body, html {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
}

nav {
    width: 100%; /* Garante que o nav ocupe toda a largura */   
    position: fixed; /* Fixa nav no topo */
    top: 0; /* Alinha a nav no topo da página */
    left: 0; /* Alinha o nav na esquerda da página */
    z-index: 100; /* Garante que o nav fique acima de outros elementos */
    background-color: #22181c;
    color: #f0eff4;
}

a {
    text-decoration: none;
}

span {
    color: #f45b69;
}

@font-face {
    font-family: "Cinemarkting";
    src: url("/assets/common/fonts/bradesco/BradescoSans-Italic.woff2") format("woff2"), url("/assets/common/fonts/bradesco/BradescoSans-Italic.woff") format("woff"), url("/assets/common/fonts/bradesco/BradescoSans-Italic.ttf") format("truetype"), url("/assets/common/fonts/bradesco/BradescoSans-Italic.eot?") format("eot");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 2.0em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 180px;
}

.list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
}

.list-header a {
    color: #f0eff4;
    text-decoration: none;
}

#li-ingressos {
    color: #f45b69;
}

.list-header li {
    margin-right: 90px;
    font-weight: 600;
    
}


.list-header li:last-child {
    margin-right: 100px;
}

/*   */

/* Adicionar @media query em outras medidas. */

@media(min-width: 698px) {
    .header {
        flex-direction: row;
        align-items: flex-start;
    }

    .header h1 {
        margin-left: 0;
    }

    .list-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .list-header li {
        margin-right: 0px;
        margin-top: 10px;
        padding-left: 0;
    }

    .list-header li:last-child {
        margin-bottom: 10px;
    }

    #frase, .row-frase {
        font-size: 5px;
        line-height: 15px;
    }

}

/*  */

@media(max-width: 768px) {
    .img-fluid {
        width: 100%;
    }

    .header {
        flex-direction: row;
        align-items: flex-start;
    }

    .header h1 {
        margin-left: 0px;
    }

    .list-header {
        flex-direction: column;
        align-items: center; 
    }

    .list-header li {
        margin-right: 0; 
        margin-top: 10px;
        padding-left: 0;
    }

    #li-home {
        margin-left: 20px;
    }

    .list-header li:last-child {
        margin-right: 55px;
        margin-bottom: 0;
    }

    .row-frase, #frase {
        font-size: 0.5em;
    }

}


/*  */
@media(max-width: 840px) {
    .img-fluid {
        width: 100%;
    }

    .header {
        flex-direction: row;
        align-items: flex-start;
    }

    .header h1 {
        margin-right: 25px;
    }

    .list-header {
        flex-direction: row;
        align-items: center;
    }

    #li-ingressos {
        display: flex;
        margin-left: 45px;
        flex-wrap: nowrap;
    }

    .list-header li {
        margin-right: 0;
        margin-top: 10px;
        padding-left: 15px;
    }

    .list-header li:last-child {
        margin-right: 25px;
        margin-bottom: 0;
    }

    span {
        padding-top: 10px;
    }
}

/*  */

@media(max-width: 900px) {
    .img-fluid {
        display: block;
        width: 100%;
        max-height: 20%;
        object-fit: contain;
    }


    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header h1 {
        margin-left: 45px;
    }

    .list-header {
        flex-direction: row;
        align-items: flex-start;
    }

    .list-header li {
        margin-right: 0;
        margin-top: 35px;
        padding-left: 10px;
    }

    .list-header li:last-child {
        margin-right: 0;
        margin-bottom: 0;
    }

    #frase, .row-frase {
        font-size: 50px;
        line-height: 60px;
    }
}

/*  */

 @media(max-width: 1160px) {
    .img-fluid {
        display: block;
        width: 100%;
        max-height: 20%;
        object-fit: contain;
    }


    .header {
        flex-direction: row;
        align-items: flex-start;
    }

    .header h1 {
        margin-left: 65px;
        margin-top: 35px;
    }

    .list-header {
        flex-direction: row;
        align-items: flex-start;
    }

    .list-header li {
        margin-right: 0;
        margin-top: 35px;
        padding-left: 55px;
    }

    .list-header li:last-child {
        margin-right: 55px;
        margin-bottom: 0;
    }
}

/*  */
@media(max-width: 1194px) {
    .img-fluid {
        display: block;
        width: 100%;
        max-height: 20%;
        object-fit: contain;
    }


    .header {
        flex-direction: row;
        align-items: flex-start;
    }

    .header h1 {
        margin-left: 65px;
        margin-top: 35px;
    }

    .list-header {
        flex-direction: row;
        align-items: flex-start;
    }

    .list-header li {
        margin-right: 0;
        margin-top: 35px;
        padding-left: 55px;
    }

    .list-header li:last-child {
        margin-right: 55px;
        margin-bottom: 0;
    }

}

/*  */
@media(max-width: 1440px) {
    .img-fluid {
        display: block;
        width: 100%;
        max-height: 20%;
        object-fit: contain;
    }


    .header {
        flex-direction: row;
        align-items: flex-start;
    }

    .header h1 {
        margin-left: 65px;
        margin-top: 35px;
    }

    .list-header {
        flex-direction: row;
        align-items: flex-start;
    }

    .list-header li {
        margin-right: 0;
        margin-top: 35px;
        padding-left: 55px;
    }

    .list-header li:last-child {
        margin-right: 75px;
        margin-bottom: 0;
    }
}

/*  */
@media(min-width: 2560px) {
    .header {
        flex-direction: row;
        align-items: flex-start;

    }

    .header h1 {
        margin-left: 75px;
        margin-top: 45px;
        font-size: 2.5em;
    }

    .list-header {
        flex-direction: row;
        align-items: flex-start;
    }

    .list-header li {
        margin-right: 0;
        margin-top: 45px;
        padding-left: 65px;
        font-size: 1.9em;
    }

    .list-header li:last-child {
        margin-right: 65px;
        margin-bottom: 0;
    }

    .bg-frase {
        height: auto;
    }

    #frase, .row-frase {
        font-size: 120px;
        line-height: 100px;
    }

    span {
        padding-top: 40px;
    }
}
 
/* ----------------------------------------------- */

.img-fluid {
    display: block;
    width: 100%;
    max-height: 20%;
    object-fit: contain;
}

.img-fluid, ::after, ::before {
    box-sizing: border-box;
}

/* Section Frase */
#frase {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 25px 0 0 0;
    unicode-bidi: isolate;
    background-color: #22181c;
    color: #F0EFF4;
}


.row-frase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 15px 100px 15px;
    
}

#frase, .row-frase {
    font-size: 5vw;
    font-weight: bolder;
    line-height: 80px;
    text-transform: uppercase !important;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



/*  Section Programa-se  */
#programa-se {
    padding: 8vw 0 1vw 0;
    height: 900px;
    width: 100%;
    background-color: #22181c;
    background-repeat: no-repeat;
    background-size: cover;
}

@media(min-width: 768px) {
    #programa-se {
        padding: 0vw 0 1vw 0;
    }
}

@media(max-width: 1168px) {
    #programa-se {
        height: 100%
    }

    .flex-programa {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flex-programa img {
        width: 100%;
        margin-bottom: 20px;
    }

    .programa-se-opcoes {
        text-align: center;
        width: 100%;
    }
}

.flex-programa {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.container-programa-se img {
    height: 580px;
    vertical-align: middle;
    box-sizing: border-box;
}

.title-h2-programa {
     color: #F0EFF4;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-weight: 900;
     font-size: 2rem;
}

@media(min-width: 768px) {
    .title-h2-programa h2 {
        font-size: 5rem;
    }
}


/* Teste */
.programa-se-opcoes a {
    display: block; /* Faz cada link aparecer em sua própria linha */
    border: 2px solid #f45b69; /* Cor da borda */
    border-radius: 2%; /* Raio da borda */
    padding: 1.0vw 9.5vw 1.0vw 1.0vw; /* Espaçamento interno */
    margin: 1.0vw 1vw; /* Espaçamento externo */
    text-decoration: none; /* Remove o sublinhado do link */
    color: #F0EFF4; /* Cor do texto */
    font-size: 1.4rem; /* Tamanho do texto */
    font-weight: bold; /* Peso da fonte */
    width: 100%; /* Largura do link */
    box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura total */
    position: relative;
}


/* Remove a borda das divs .programa-se-opcoes */
.programa-se-opcoes {
    border: none;
}


.programa-se-opcoes img, p {
    height: 40px;
    font-size: 22.4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    margin-right: 10px;
    white-space: nowrap;
}

.programa-se-opcoes p {
    display: inline;
}

p, pre {
    margin: 1em 0;
} 

a {
    outline: none;
}


.programa-se-opcoes p::after {
    border-top: 3px solid #f45b69;
    border-right: 3px solid #f45b69;
    content: "";
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    float: right;
    position: absolute;
    right: 8%;
    top: 40%;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*::after, 
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Animação para os botões */ 
.link-programa-se {
    transition: width 0.2s ease-in; /* Animação suave da largura */
    overflow: hidden; /* Evita que o conteúdo ultrapasse a largura animada */
}

.link-programa-se:hover {
    width: 95%; /* Largura final quando está sobre bo link */
}

/* Estréias */
#estreias {
    height: auto;
    width: 100%;
}
#estreias h3 {
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.container-estreias {
    color: #F0EFF4;
    background-color: #22181c;
    text-align: center;

}


.images-estreias {
    height: 25em; 
    width: 100%;
    margin: 5em 0 2em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    flex-wrap: nowrap;
    
}

.images-estreias img {
    border: 2px solid #F0EFF4;
    transition: opacity 0.5s;
}

.h3-estreias {
    height: auto; 
    width: 100%;
    color: #F0EFF4;
    padding: 7.0em 0 2.5em 0;
}

.h3-estreias h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}

#beetle-juice-2 {
    flex-shrink: 2;
}

#palhaco-2 {
    flex-grow: 2;
}

#venom-3 {
    flex-shrink: 4;
}


.titulos-estreias {
    display: flex;
    justify-content: space-around;
    padding: 3.0em 1.0em 3.0em 0;
}

.titulos-estreias span {
    color: #f45b69;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    font-weight: bolder;
}

/* Section de Assinatura */
#planos {
    height: 100%;
    width: 100%;
    background-color: #22181c;
    color: #F0EFF4;
    margin: 0;
    padding: 40% 0 10% 0;
}


.container-planos {
    text-align: center;
}

.container-planos h4 {
    font-family: Max Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 2.1875em;
    font-weight: 700;
    line-height: 1.5em;
}

.container-planos button {
    width: 15.5em;
    line-height: 1;
    letter-spacing: .1em;
    font-size: 1rem;
    background-color: #22181c;
    color: #f45b69;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: 2px solid #f45b69;
    border-radius: 100px;
    padding: 0.75em;

}


.layout-mensal-container {
    display: flex;
    justify-content: space-around;
    padding: 5.0em;
}

.layout-mensal {
    border: 3px solid #f45b69;
    border-radius: 30px;
    padding: 1.5em 1.5em 3.0em 1.5em;

}

.layout-mensal hr {
    border: 0;
    height: 2px;
    background: #333; /* Cor da linha */
    background-image: linear-gradient(to right, #F0EFF4, #22181c, #22181c); /* Gradiente */
    margin: 0; /* Remove a margem padrão */
}

.mensal-p {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.layout-button {
    cursor: pointer;
    padding: 13px 24px;
    background-color: #f45b69;
    color: #22181c;
    height: 3.8em;
    line-height: 1;
    margin-top: auto;
    font-weight: 900;
    letter-spacing: 0px;
    overflow: hidden;
    text-transform: uppercase;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}

.layout-button:hover {
    background-color: #931f1d;
}

.layout-button a {
    color: #22181c;
    text-decoration: none;
}

#plano-basico {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
}

#plano-premium {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
}


#anual-button {
    display: flex;
    justify-content: center;
    margin: 2.0em 0;
}

#anual-button button {
    width: 15.5em;
    line-height: 1;
    letter-spacing: .1em;
    font-size: 1rem;
    background-color: #22181c;
    color: #f45b69;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: 2px solid #f45b69;
    border-radius: 100px;
    padding: 0.75em;
}


.layout-anual-container {
    display: flex;
    justify-content: space-around;
}

.layout-anual {
    border: 3px solid #f45b69;
    border-radius: 30px;
    padding: 1.5em 1.5em 3.0em 1.5em;
}

@keyframes brilho {
   0% {
    box-shadow: 0 0 10px 0 #f45b69;
   }

   50% {
    box-shadow: 0 0 20px 0 #f45b69;
   }

   100% {
    box-shadow: 0 0 10px 0 #f45b69;
   }
}


@keyframes pulsar {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1);}    
}

.layout-anual-vip {
    animation: brilho 2s infinite;
    border: 3px solid #f45b69;
    border-radius: 30px;
    padding: 1.5em 1.5em 3.0em 1.5em;
}


.layout-anual-vip:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}


.layout-anual hr {
    border: 0;
    height: 2px;
    background: #333; /* Cor da linha */
    background-image: linear-gradient(to right, #F0EFF4, #22181c, #22181c); /* Gradiente */
    margin: 0; /* Remove a margem padrão */
}


.anual-p {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2.5em 0;
}

#plano-vip {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}





/* Seção para Crianças */

@keyframes brilho2 {
    0% {
        box-shadow: 0px 0 100px 20px #858ae3;
    }

    50% {
        box-shadow: 0 0 100px 20px #3d0b7a;
    }

    100% {
        box-shadow: 0 0 100px 20px #858ae3;
    }
}

@keyframes brilho3 {
    0% {
        box-shadow: 0px 0 100px 20px #d62839;
    }

    50% {
        box-shadow: 0 0 100px 20px #ba324f;
    }

    100% {
        box-shadow: 0 0 100px 20px #d62839;
    }
}


.criancas-container {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    background-color: #22181c;
    color: #f45b69;
}

.criancas-container h4 {
    margin: 0;
    padding: 10%;
    font-size: 3.5em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    text-align: center;
}

.criancas-container img {
    height: 570px;
}

.images-personagens {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#vanellope-img {
    flex-shrink: 1;
    height: 370px;
    margin-top: 12em;
}

#combo1 {
    position: relative;
    filter: brightness(60%);
    border-radius: 10px;
}


.images-personagens-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25% 0 0 0;
}


#lojaCinemark {
    position: relative;
    filter: brightness(80%);
    border-radius: 10px;
}

.container-button-saiba-mais {
    padding-top: 15%;
    text-align: center;
}

.button-saiba-mais {
    cursor: pointer;
    height: 5.0em;
    padding: 5px 60px;
    margin-bottom: 30px;
    border-radius: 8px;
    background-color: #d62839;
    color: #F0EFF4;
    font-style: normal;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 110%;
}

.button-saiba-mais:hover {
    transform: scale(1.15);
    transition: transform 0.5s;

}

/* Rodapé */
footer {
    height: auto;
    padding: 0;
    margin-top: 0;
    background-color: #22181c;
    border-top: 3px solid #f45b69;
}


.footer-container {
    background-color: #22181c;
    text-align: center;
    width: 100%;
}


.footer-container h5 {
    margin-top: 0;
    padding-top: 20%;
    font-size: 2.5em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    color: #f45b69;
}

.footer-list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-list-container a {
    color: #F0EFF4;
}

.footer-list-container li {
    color: #F0EFF4;
    list-style: none;
    font-size: 1.2em;
    font-weight: 700;
    font-family: monospace;
}

.footer-h6 {
    padding: 1.5rem;
    text-align: center;
    color: #F0EFF4;
}

.footer-h6 h6 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}

.footer-sociais {
    display: flex;
    justify-content: center;
}

.footer-sociais img {
    padding: 0.5em 0.8em 1.0em 0.8em;
}
.footer-sociais a:hover img { 
    transform: scale(1.2);
    transition: transform 0.2s; }